.listCard {

}

.listImages {
    width: 7rem;
    border-radius: 50%;
}




.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 3rem 0;
    color: whitesmoke;
    font-size: 2rem;
    color: black;
}

/*background-color: #286da8;*/

.userCard {
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 3rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
}


.cardBody {
    display: flex;
    flex-direction: row;
    gap: 3rem
}

.userImage {
    width: 10rem;
    border-radius: 50%;
}