.main {
    background-color: none;
    color: black;
    min-height: max-content;
   
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.source {
    position: fixed;
    left: -6rem;
    transform: rotate(270deg);
    bottom: 50%;
    font-size: 2rem;
    word-spacing: 1rem;
}

.user {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.allUser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 45%;
    font-size: 1.3rem;
    
}

.pagination {
    margin: 1rem;
    font-size: 1.1rem;
    display: flex;
    gap: 1rem;
}

.pagination > button {
    background-color: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.pageNumber {
    margin-top: 0.5rem;
}



